<form name="carOptions" class="form-horizontal" ng-if="ready" novalidate>
   <form-element 
    form="carOptions" 
    name="type"
    type="radio"
    label="Type"
    model="myData.type"
    options="options['configurationTypes']"></form-element>
  <form-element 
    form="carOptions" 
    name="bodyEngine"
    type="select"
    label="Body Engine"
    model="myData.bodyEngine"
    options="options['bodyEngines']"
    disabled="myData.type=='sport'"></form-element>
  <form-element 
    form="carOptions" 
    name="engine"
    type="select"
    label="Engine"
    model="myData.engine"
    options="options['engines']"
    disabled="myData.type=='sport'"></form-element>
  <form-element 
    form="carOptions" 
    name="transmission"
    type="select"
    label="Transmission"
    model="myData.transmission"
    options="options['transmissions']"
    disabled="myData.type=='sport'"></form-element>
  <form-element 
    form="carOptions" 
    name="finish"
    type="select"
    label="Finish"
    model="myData.finish"
    options="options['finishes']"
    disabled="myData.type=='sport'"></form-element>
  <form-element 
    form="carOptions" 
    name="tires"
    type="select"
    label="Tyres"
    model="myData.tires"
    options="options['tires']"
    disabled="myData.type=='sport'"></form-element>
  <form-element 
    form="carOptions" 
    name="color"
    type="select"
    label="Color"
    model="myData.color"
    options="options['colors']"
    disabled="myData.type=='sport'"></form-element>
  <form-element 
    form="carOptions" 
    name="colorSport"
    type="select"
    label="Color Sport"
    model="myData.colorSport"
    options="options['colorsSport']"
    hide="myData.type!='sport'"></form-element>
</form>
<form name="carOptions" class="form-horizontal" ng-if="ready">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="type">Type</label>
    <div class="col-sm-10">
      <label class="radio-inline" ng-repeat="option in options['configurationTypes']">
        <input id="type" name="inlineRadioType" ng-model="myData.type" type="radio" required
               value="{{option.value}}">{{option.label}}
      </label>      
      <div class="alert-error" ng-show="carOptions.inlineRadioType.$dirty">
        <span class="error" ng-show="carOptions.inlineRadioType.$error.required">
          Required field</span>
      </div>  
    </div>
  </div>
  
  <div class="form-group" ng-show="myData.type=='sport'">
    <label class="col-sm-2 control-label" for="colorSport">Color Sport</label>
    <div class="col-sm-10">
      <select id="colorSport" ng-model="myData.colorSport">
        <option ng-repeat="option in options['colorsSport']"
                value="{{option.value}}">{{option.label}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Extras</label>
    <div class="col-sm-10">
      <label class="checkbox-inline" ng-repeat="extra in options['extras']">
        <input type="checkbox" ng-value="{{extra.value}}" ng-model="myData.extras[extra.value]" ng-change="toggleExtra(extra.value)" ng-checked="myData.extras.indexOf(extra.value)>-1" ng-disabled="myData.type=='sport'">
        {{extra.label}}
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="comments">Comments</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" name="comments" ng-model="myData.comments" id="comments" required>
      </textarea>
      <div class="alert-error" ng-show="carOptions.comments.$dirty">
        <span class="error" ng-show="carOptions.comments.$error.required">
          Required field</span>
      </div>  
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="cp">CP</label>
    <div class="col-sm-10">
      <input ng-model="myData.cp" id="cp" name="cp" type="text" ng-minlength="5" ng-maxlength="5" required>
      </input>   
      <div class="alert-error" ng-show="carOptions.cp.$dirty">
        <span class="error" ng-show="carOptions.cp.$error.required">
          Required field</span>
        <span class="error" ng-show="carOptions.cp.$error.minlength">
          Too short!</span>
        <span class="error" ng-show="carOptions.cp.$error.maxlength">
          Too long!</span>
      </div> 
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="email">Email</label>
    <div class="col-sm-10">
      <input ng-model="myData.email" id="email" name="email" type="email" required>
      </input> 
      <div class="alert-error" ng-show="carOptions.email.$dirty">
        <span class="error" ng-show="carOptions.email.$error.required">
          Required field</span>
        <span class="error" ng-show="carOptions.email.$error.email">
          Email invalid format</span>
      </div> 
    </div>
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="!carOptions.$valid" ng-click="sendForm()">SEND</button>
</form>
<div ng-if="error">
  ERROR GENERATING THE FORM
</div>
<div ng-if="!ready && !error">
  LOADING THE FORM
</div>
<div ng-if="showModal && ready && !error" class="result">
  <div class="result-box">
    <div class="row">
      <div class="col-lg-12">
        <div class="result-box-content">
          <p ng-if="sendingForm">Enviando...</p>

          <p ng-if="successForm">Hemos recibido correctamente tu solicitud</p>

          <p ng-if="errorForm">Ocurrio un error al procesar el formulario.</p>

          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <button ng-click="closeModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
{{options}}
<hr>
{{myData}}

